version: "3.8"
services:
  backend:
    build: ./backend
    container_name: backend_container
    image: yourdockerhubusername/backend:v1
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    networks:
      - app-network
    restart: on-failure
  frontend:
    build: ./frontend
    container_name: frontend_container
    image: yourdockerhubusername/frontend:v1
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network
networks:
  app-network:
    driver: bridge


    
